.blog-card {
    background: #FFF;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    &-content {
        padding: 20px 15px;
        @include responsive(md) {
            padding: 20px 35px 35px;
        }
    }
    &-image {
        display: block;
        img {
            width: 100%;
            display: block;
        }
    }
    &-title {
        font-size: 21px;
        font-weight: 700;
        line-height: $leading-snug;
        a {
            display: block;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
    &-excerpt {
        color: $text-muted;
        margin-top: 12px;
        line-height: $leading-relaxed;
    }
    &-link {
        display: inline-flex;
        align-items: center;
        color: $brand-color;
        margin-top: 25px;
        &:hover {
            text-decoration: underline;
        }
        svg {
            margin-left: 10px;
        }
    }
}

.blog-list {
    background: #F8F8F8;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-content {
        padding: 20px 40px;
    }
    &-image {
        flex-shrink: 0;
        img {
            width: 100%;
            display: block;
        }
    }
    &-title {
        font-size: 21px;
        font-weight: 700;
        line-height: $leading-snug;
        a {
            display: block;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
    &-excerpt {
        color: $text-muted;
        margin-top: 12px;
        line-height: $leading-relaxed;
    }
    &-link {
        display: inline-flex;
        align-items: center;
        color: $brand-color;
        margin-top: 25px;
        &:hover {
            text-decoration: underline;
        }
        svg {
            margin-left: 10px;
        }
    }
}

.blog-sidebar {
    background: #FFF;
    border-radius: 20px;
    padding: 20px;
}