.button {
    display: inline-block;
    vertical-align: top;
    background: #44B564;
    color: #FFF;
    border-radius: 24px;
    font-size: 24px;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid #44B564;
    transition: background-color .2s;

    &:hover {
        background: #FFF;
        color: #44B564;
    }
}

.button-secondary {
    display: inline-block;
    font-size: 18px;
    color: #444;
    text-decoration: none;
    position: relative;
    padding: 13px 0 13px 15px;
    z-index: 0;
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
        color: #44B564;
    }
    &:before {
        content: ' ';
        width: 40px;
        height: 40px;
        border: 1px solid #44B564;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    span {
        display: inline-block;
        background: #FFF;
        z-index: 1;
        position: relative;
    }
    &:after {
        content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAYAAADTlvzyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADoSURBVHgB7dK9agJBFAXgc6+bn3LLkGrLICFsCiGEFJM3SBNYrHwEfQPfQH0DWyt9g9XSSgt7GwvLBUHxZ+84CwoqajViM191iwNnuHMBx3HuLQdLwp9Ivby+YzoZJddyDBtl6s8X4bYQxfnCf4hbFw67nWQl8gkCvAdv8PEdVS9lKfyKAtjC7Keka6ShCNSkx3kle8xhxBOmMazRMGW7SZdk+RyY8feocA0KYAlvUp9zXCeCMtXN2dOicpohWJJ9jdlWbMZAUimP+q3GuZwHC/KFYiiMGFonZqPKlPVwa1npm80DdJy9LcmSQthqtE6iAAAAAElFTkSuQmCC');
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
}
